<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Excel REST Testing Page</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron-narrow.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="/">Home</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Microsoft Excel REST Graph API Explorer</h3>
      </div>


    <div class="panel panel-default">
      <div class="panel-heading">Range Info. for table: <%= table.name %>, column name: <%= tableColumn.name %></div>
      <!-- name -->
      <div class="panel-body">
      <table class="table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Info.</th>
            <th>Read</th>
          </tr>          
        </thead>
        <tbody>

            <tr>
             <td>Table Col Range</td>
             <td><%= "#{range.worksheetName} #{range.address}"  %></td>
             <td><a href="/rangesyncpreproute?sheetname=<%= range.worksheetName %>&amp;addr=<%= range.address %>"> <i>Go</i></a></td>           
            </tr>
            <% if !headerrowrange.nil? %>
            <tr>
             <td>Table Col header row range</td>
             <td><%= "#{headerrowrange.worksheetName} #{headerrowrange.address}"  %></td>
             <td><a href="/rangesyncpreproute?sheetname=<%= headerrowrange.worksheetName %>&amp;addr=<%= headerrowrange.address %>"> <i>Go</i></a></td>           
            </tr>            
            <% end %>
            <tr>
             <td>Table Col data body range</td>
             <td><%= "#{databodyrange.worksheetName} #{databodyrange.address}"  %></td>
             <td><a href="/rangesyncpreproute?sheetname=<%= databodyrange.worksheetName %>&amp;addr=<%= databodyrange.address %>"> <i>Go</i></a></td>           
            </tr>
            
           <% if !totalrowrange.nil? %>
            <tr>
             <td>Table Col total row range</td>
             <td><%= "#{totalrowrange.worksheetName} #{totalrowrange.address}"  %></td>
             <td><a href="/rangesyncpreproute?sheetname=<%= totalrowrange.worksheetName %>&amp;addr=<%= totalrowrange.address %>"> <i>Go</i></a></td>           
            </tr>          
            <% end %>                          
        </tbody>
      </table>
      </div>
    </div>

    </div> <!-- /container -->

    <% if htrace == 'ok' %>
      <!-- HTTP Trace -->    
        <% rr.each do |item| %>
          <%= erb :httptrace, :locals => {:rr => item } %>        
        <% end %> 
      <!-- End HTTP Trace -->        
    <% end %> 

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
